<section class="form_sec" style="width:100%" id="meeting">
  <div style="margin: 100px auto 100px auto;width:70%">
  <form action="/a" method="post"  style="margin: 100px auto 100px auto;width:80%;text-align:center">
    <label for="fname"> Name:</label><br>
    <input type="text" id="fname" name="name" value="John"><br>
    <label for="lname">Day :</label><br>
    <input type="text" id="lname" name="day" value="Doe"><br><br>
    <label for="fname"> Time:</label><br>
    <input type="text" id="fname" name="time" value="John"><br>
    <input type="submit" value="Submit">
  </form>
  </div>
</section>